---
import Layout from '../layouts/Layout.astro';
import ContactCard from '../components/ContactCard.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<ContactCard />
	</main>
</Layout>

<style>
	
</style>
